<html>
    <body>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
        <link rel="stylesheet" href="/css/post.css">
        <nav class="navbar">
            <img class="logo" src="https://cdn.discordapp.com/attachments/749131929982599238/750383458743746602/Group_403.png">
            <a class="nav-item" href="/dashboard">Dashboard</a>
            <a class="nav-item" href="/leaderboard">Leaderboard</a>
            <a class="nav-item" href="/profile">Profile</a>
            <a href="/post"><button>Post</button></a>
        </nav>
        <%- body %>
    </body>
</html>