<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
<link rel="stylesheet" href="/css/post.css">
<div class="post-div">
<h1>Rate the portfolio</h1>
<form action="/rate" method="POST">
    <h2>How much should the OP charge($) per hour?</h2>
    <input type="hidden" name="post_id" value="<%- post_id %>">
    <input required style="width: 250px" name="rating" type="number" min="0" value="<%= typeof value != 'undefined' ? value : '' %>">
    <h2>What would you like to recommend to this user?</h2>
    <input required style="width: 250px" name="recommendation" type="number" min="0" value="<%= typeof value != 'undefined' ? value : '' %>">
    <button class="login-button" type="submit">SUBMIT</button>
</form>
</div>
<br><br><br>