div {
    height: 300px;
    width: 430px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding-left: 20px;
    font-family: 'Lexend Deca';
}

div p {
    font-size: 1.7rem;
    color: #adadad
}

#small-text {
    font-size: 1rem
}