@font-face {
    font-family: 'Airbnb';
    src: URL('../fonts/AirbnbCerealExtraBold.ttf') format('truetype');
}

body {
    background-image: url('https://cdn.discordapp.com/attachments/749131929982599238/750363581937090610/unknown.png');
    background-size: cover;
    padding-left: 300px;
}

.choices {
    height: 430px;
    width: 600px;
    background-color: #D6D6D6;
    border-radius: 10px;
    margin-top: 20vh;
    padding-left: 50px;
    padding-top: 30px;
}

.choices h1 {
    font-family: 'Lexend Deca';
}

.choices p {
    color: gray;
    font-family: 'Lexend Deca';
    font-size: 1.2rem;
    margin-top: -15px;
}

.choices input, label {
    font-family: 'Lexend Deca';
    margin-top: 2rem;
    color: black;
    height: 20px;
    width: 20px;
}

.register-button {
    height: 40px;
    width: 150px;
    display: flex;
    background-color: #121212;
    font-family: 'Lexend Deca';
    font-size: 1.3rem;
    border: none;
    color: white;
    margin-left:450px;
    text-align: center;
    padding-left: 30px;
    padding-top: 7px;
}

#login-button {
    height: 35px;
    width: 270px;
    font-family: 'Lexend Deca';
    font-size: 1rem;
    border: none;
    background-color: white;
    opacity: 0.3;
    margin-left:60px;
    padding-left: 10px;
    padding-top: 5px;
}

.inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}