body {
    background-color: #f3f3f3;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar {
    height: 50px;
    font-family: 'Lexend Deca';
    font-size:1.5rem;
    padding-top: 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.logo {
    height: 80px;
    width: 120px;
}

.nav-item {
    text-decoration: none;
    color: #F7575D;
    margin-left: 100px;
}

.nav-item:hover {
    bottom: 3px;
    border-color: #F7575D;
    border-width: 0 0 2px;
    border-style: solid;
}

.navbar button {
    margin-left: 450px;
    border: none;
    font-family: 'Lexend Deca';
    height: 60px;
    width:140px;
    background-color: #FBB5B8;
    color: #F7575D;
    font-size: 1.5rem;
    border-radius: 10px;
}

.card-grid {
    font-family: 'Lexend Deca';
    padding-top: 90px;
    padding-left: 200px;
}

.card-grid h1 {
    color: #F7575D;
}

.card {
    margin-left: 30px;
    height: 422px;
    width: 350px;
    border-style: solid;
    border-radius: 10px;
    border-color: #F7575D;
    padding-top:5px;
    border-width: 1.8px;
    margin-top: 30px;
}

.card h2 {
    color: #F7575D;
    font-size: 1.3rem;
    font-weight: normal;
    padding-left: 20px;
}

.card p {
    color: #FBB5B8;
    font-size: 1.1rem;
    font-weight: normal;
    padding-left: 20px;
    margin-top: -15px;
}

.inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.bottom {
    background-color: #F7575D;
    height: 55px;
    width: 342px;
    padding-left: 10px!important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 75px;
}

.bottom button {
    height: 40px;
    width: 140px;
    margin-right: 10px;
    border: none;
    font-family: 'Lexend Deca';
    margin-top: 10px;
    background-color: white;
    opacity: 0.3;
    font-size: 1.3rem;
}
