@font-face {
    font-family: 'Airbnb';
    src: URL('../fonts/AirbnbCerealExtraBold.ttf') format('truetype');
}

body {
    background-image: url('https://cdn.discordapp.com/attachments/749131929982599238/750363581937090610/unknown.png');
    background-size: cover;
    padding-left: 300px;
}

.login-div p {
    color: #121212;
    font-family: 'Lexend Deca';
    font-size: 1.2rem;
    margin-top: -15px;
}

.login-div {
    margin-top: 25vh;
}

.login-div h1 {
    font-family: 'Airbnb';
    font-size: 3rem; 
    color: #121212;
}

.login-div input {
    height: 50px;
    width: 400px;
    background-color:#E6E6E6 ;
    border: none;
    font-family: 'Lexend Deca';
    font-size: 1.5rem;
    color: black;
    border-radius: 5px;
    padding-left: 30px;
}

.login-button {
    height: 40px;
    width: 150px;
    display: flex;
    background-color: #121212;
    font-family: 'Lexend Deca';
    font-size: 1.3rem;
    border: none;
    color: white;
    margin-left:250px;
    text-align: center;
    padding-left: 45px;
    padding-top: 5px;
}

.login-div img {
    width: 400px;
}

#register-button {
    height: 35px;
    width: 200px;
    font-family: 'Lexend Deca';
    font-size: 1rem;
    border: none;
    background-color: #E6E6E6;
    color: #757575;
    margin-left:100px;
    padding-left: 10px;
    padding-top: 5px;
}