@font-face {
    font-family: 'Airbnb';
    src: URL('../fonts/AirbnbCerealExtraBold.ttf') format('truetype');
}

body {
    background-image: url('https://cdn.discordapp.com/attachments/749131929982599238/750363581937090610/unknown.png');
    background-size: cover;
    padding-left: 300px;
}

.register-div p {
    color: #121212;
    font-family: 'Lexend Deca';
    font-size: 1.2rem;
    margin-top: -15px;
}

.register-div {
    margin-top: 10vh;
}

.register-div h1 {
    font-family: 'Airbnb';
    font-size: 3rem; 
    color: #121212;
}

.register-div input {
    height: 50px;
    width: 400px;
    background-color: #E6E6E6;
    border: none;
    padding-left: 30px;
    font-family: 'Lexend Deca';
    font-size: 1.5rem;
    color: black;
    border-radius: 5px;
}

.register-button {
    height: 40px;
    width: 150px;
    display: flex;
    background-color: #121212;
    font-family: 'Lexend Deca';
    font-size: 1.3rem;
    border: none;
    color: white;
    margin-left:250px;
    text-align: center;
    padding-left: 33px;
    padding-top: 5px;
}

.register-div img {
    width: 400px;
}

#login-button {
    height: 35px;
    width: 270px;
    font-family: 'Lexend Deca';
    font-size: 1rem;
    border: none;
    background-color: #E6E6E6;
    color: #757575;
    margin-left:60px;
    padding-left: 10px;
    padding-top: 5px;
}

.inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}